.GoogleLogo {
    max-height: 50px;
    padding-left: 15px;
}

.LoginButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfilePicNav {
    border-radius: 50px;
    max-height: 40px;
}

.ProfilePicNav:hover {
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

.ProfilePicNav:active {
    border-style: solid;
    border-color: grey;
    border-width: 3px;
}

.recipe-view-style {
    display: flex;
    padding-top: 50px;
}

.recipe-view-img {
    float: left;
    width: 250px;
    padding-left: 50px;
}
/*
.view-info {
    float: right;
}
*/

.mealname-view {
    padding-left: 100px;
}

.recipecard-container {
    display: flex;
}

.navbar-dropdown {
    position: absolute;
    right: 0;
    padding-right: 120px;
}

.ProfilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 15px;
}