.GoogleLogo {
    max-height: 50px;
    padding-left: 15px;
}

.LoginButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarlogo {
    width: 50px;
    margin-right: 20px;
    transition: transform .3s;
}

.navbarlogo:hover {
    transform: scale(1.1);
}

.ProfilePicNav {
    border-radius: 50px;
    max-height: 40px;
}

.ProfilePicNav:hover {
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

.ProfilePicNav:active {
    border-style: solid;
    border-color: grey;
    border-width: 3px;
}

.recipe-view-img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    
}

.recipe-cards {
    transition: transform .3s;
}

.recipe-cards:hover {
    transform: scale(1.1);
}

.view-mealname {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recipecard-container {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.navbar-dropdown {
    position: absolute;
    right: 0;
    padding-right: 120px;
}

.ProfilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.ProfileName {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 120px;
}

.LoginButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create-button {
    margin-left: 50px;
    margin-bottom: 20px; 
    margin-top: 20px;
}
 

.meal-image {
    height: 200px;
}

